*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poopins',sans-serif;
}

body{
	min-height: 100vh;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

h1,
h2{
	color: #ddd;
}
h3{
	color: #999;
}

.btn{
	background: red;
	color: white;
	padding: 5px 10px;
	text-align: center;
}

.btn:hover{
	color: red;
	background: white;
	padding: 3px 3px;
	border: 2px solid #f05462; 
}

.title{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 15px 10px;
	border-bottom: 2px solid #999;
}

.table{
	padding: 10px;
}

th,td{
	text-align: left;
	padding: 8px;
}
.side-menu{
	position: fixed;
	background: darkblue;
	width: 25vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.side-menu .brand-name{
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
}

.side-menu li{
	font-size: 15px;
	padding: 10px 40px;
	color: white;
	display: flex;
	align-items: center;
}

.side-menu li:hover{
	background: white;
	color: #fa5462;
}

.container{
	position: absolute;
	right: 0;
	width: 76vw;
	height: 100vh;
	background: #f1f1f1;
}

.container .header{
	position: fixed;
	top: 0;
	right: 0;
	width: 76vw;
	height: 10vh;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}


.container .header .nav{
	width: 95%;
	display: flex;
	align-items: center;
}


.container .header .nav .search{
	flex: 3;
	display: flex;
	justify-content: center;
}

.container .header .nav .search input[type=text]{
	border: none;
	background: #f1f1f1;
	padding: 10px;
	width: 50%;
}

.container .header .nav .search button{
	width: 40px;
	height: 40px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container .header .nav .search button img{
	width: 30px;
	height: 30px;
}

.container .header .nav .user{
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container .header .nav .user img{
	width: 40px;
	height: 40px;
}

.container .header .nav .user .img-case{
	position: relative;
	width: 50px;
	height: 50px;
}

.container .header .nav .user .img-case img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container .content{
	position: relative;
	margin-top: 8vh;
	min-height: 50vh;
	background: #f1f1f1;
}

.container .content .cards{
	padding: 15px 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap; 
}

.container .content .cards .card-1{
	width: 240px;
	height: 150px;
	background: purple;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-2{
	width: 240px;
	height: 150px;
	background: blue;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-3{
	width: 240px;
	height: 150px;
	background: green;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-4{
	width: 240px;
	height: 150px;
	background: red;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-5{
	width: 240px;
	height: 60px;
	background: blue;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-6{
	width: 240px;
	height: 60px;
	background: purple;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-7{
	width: 240px;
	height: 60px;
	background: green;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-8{
	width: 240px;
	height: 60px;
	background: brown;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-9{
	width: 240px;
	height: 60px;
	background: blue;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-10{
	width: 240px;
	height: 60px;
	background: purple;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-11{
	width: 240px;
	height: 60px;
	background: green;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-12{
	width: 240px;
	height: 60px;
	background: brown;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-13{
	width: 240px;
	height: 60px;
	background: blue;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-14{
	width: 240px;
	height: 60px;
	background: purple;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-15{
	width: 240px;
	height: 60px;
	background: green;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .cards .card-16{
	width: 240px;
	height: 60px;
	background: brown;
	margin: 12px 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container .content .content-2{
	min-height: 60vh;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

.container .content .content-2 .recent-payments{
	min-height: 50vh;
	flex: 5;
	background: white;
	margin: 0 25px 25px 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	flex-direction: column;
}

.container .content .content-2 .recent-payments tr{
	font-size: 14px;
}


.container .content .content-2 .new-students{
	flex: 2;
	background: white;
	min-height: 50vh;
	margin: 0 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.new-students .title .table td{
	font-size: 12px;
}
.container .content .content-3 .link{
	min-height: 50vh;
	flex: 5;
	background: white;
	margin: 0 25px 25px 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	flex-direction: column;
}

.container .content .content-3 .link tr{
	font-size: 14px;
}

.container .content .content-3 .table td{
	font-size: 10px;
}

.container .content .content-3 .table td{

}

@media screen and (max-width: 1050px) {
	.side-menu li {
		font-size: 18px;
	}
}
@media screen and (max-width: 940px) {
	.side-menu li span{
		display: none;
	}
	.side-menu {
		align-items: center;
	}
	.side-menu li img{
		width: 40px;
		height: 40px;
	}
	.side-menu li:hover{
		background: #f05462;
		padding: 8px 38px;
		border:2px solid white;
	}
}
@media screen and (max-width: 536px){
	.brand-name h1{
		font-size: 16px;
	}
	.container .content .cards{
		justify-content: center;
	}
	.side-menu li img{
		width: 30px;
		height: 30px;
	}
	
}


	